:root {
    --mainContainerColor: rgb(132, 132, 132);
    --mainGreen: #83BC92;
    --mainPink: #5D3494;
    --mainOrange: #FE5723;
    --hoverColor: #FBDBCE;
    --branchBackColor: #F5F5F5;
    --buttonHoverColor: #21a812;
    --indicatorColor: #c0bbb9;
    --sectionButton: #FE5723;
    --cardBorderColor: #BFC1C6;
    --cardHoverColor: #999a9e;
    --bottomFooterColor: #6a6b6d;
    --sectionCardGreen: #1EB10D;
    --sectionBackGreen: #CBE9C4;
    --greenTextColor: #1EB10D;
    --blueLinkColor: rgb(32, 117, 255);
    --defaultLinkColor: #3176e6;
    --danger: #F8D7DA;
}

/* Set the direction right to left */

* {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

/* General styles for body elements */

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-width: fit-content;
}