@media only screen and (max-width: 600px) {
    #footer {
        background-color: var(--mainPink);
        font-size: 0.75rem;
    }
    .mid-header-user-container {
        font-size: 0.7rem;
    }
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 115%;
        left: 0%;
        width: 80vw;
    }
    /* End of cart details container styles */
    .product-content {
        flex-direction: column;
    }
}

/* ************************************************************************************* */

@media only screen and (min-width: 600px) {
    #footer {
        background-color: var(--mainPink);
        font-size: 0.65rem;
    }
    .mid-header-user-container {
        font-size: 0.75rem;
    }
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 115%;
        left: 0%;
        width: 90vw;
    }
    /* End of cart details container styles */
    .product-content {
        flex-direction: column;
    }
}

/* ************************************************************************************* */

@media only screen and (min-width:667px) {
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 115%;
        left: 0%;
        width: 80vw;
    }
    /* End of cart details container styles */
}

/* ************************************************************************************* */

@media only screen and (min-width: 768px) {
    .mid-header-user-container {
        font-size: 0.7rem;
    }
    #mid-header {
        border-bottom: 2px solid var(--mainPink);
    }
    #footer {
        background-color: var(--mainPink);
        font-size: 0.8rem;
    }
    .mid-header-user-container {
        font-size: 0.7rem;
    }
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 100%;
        left: 30%;
        width: 70vw;
    }
    /* End of cart details container styles */
    .product-content {
        flex-direction: row;
    }
}

/* ************************************************************************************* */

@media only screen and (min-width: 992px) {
    .mid-header-user-container {
        font-size: 0.7rem;
    }
    #mid-header {
        border-bottom: none;
    }
    #footer {
        background-color: var(--mainPink);
        font-size: 0.85rem;
    }
    .bottom-header-container {
        background-color: var(--mainPink);
        font-size: 0.6rem;
    }
    .main-sub-menu {
        width: 220px;
    }
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 100%;
        left: 25%;
        width: 60vw;
    }
    /* End of cart details container styles */
}

/* ************************************************************************************* */

@media only screen and (min-width: 1200px) {
    .mid-header-user-container {
        font-size: 0.8rem;
    }
    .bottom-header-container {
        background-color: var(--mainPink);
        font-size: 0.7rem;
    }
    .main-sub-menu {
        width: 250px;
    }
    /* Start of cart details container */
    .shopping-cart-details-container {
        top: 100%;
        left: 25%;
        width: 45vw;
    }
    /* End of cart details container styles */
}

/* ************************************************************************************* */