/* Start of top header styles */

.top-header-container {
    font-size: 0.55rem;
    font-weight: 700;
    background-color: var(--mainPink);
}

.top-header-link-container .top-header-link a {
    color: white;
}

.top-header-link-container .top-header-link {
    transition: all 0.5s;
    background-size: 300%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(253, 253, 253) 50%) !important;
}

.top-header-link-container .top-header-link:hover {
    background-position: 100%;
    transform: translateX(0.2rem);
    color: var(--mainPink);
    text-decoration: none;
}

.top-header-link-container .top-header-link:hover a {
    color: var(--mainPink);
    text-decoration: none;
}

/* End of top header styles */

/* Start of mid header styles */

.logo-and-sidebar-container .sidebar-button {
    color: var(--mainPink);
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.logo-and-sidebar-container .sidebar-button:hover {
    color: rgb(36, 147, 221);
}

.logo-and-sidebar-container img {
    width: 5.5rem;
}

.mid-header-search-container {
    font-size: 0.8rem;
}

.mid-header-search-container input {
    border: 2px solid var(--mainPink);
}

.mid-header-search-container .search-button-container {
    background-color: white;
    color: var(--mainPink);
    font-weight: 700;
    border: 2px solid var(--mainPink);
    border-radius: 5px;
    outline: none;
}

.mid-header-search-container .search-button-container:hover {
    background-color: var(--mainPink);
    color: white;
    outline: none;
}

.mid-header-user-container {
    height: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--mainPink);
}

.mid-header-user-container .shopping-cart-summary .fa-shopping-cart {
    font-size: 1.8rem;
    color: var(--mainPink);
}

.mid-header-user-container .shopping-cart-summary .fa-shopping-cart .cart-items-number {
    position: absolute;
    font-size: 0.5rem;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--mainPink);
    left: 60%;
    top: -20%;
    min-width: 30px;
    min-height: 30px;
}

.mid-header-user-container .profile-container:hover {
    cursor: pointer;
}

.mid-header-user-container .profile-container-menu {
    width: 200px;
    border-radius: 10px;
    border-right: 2px solid var(--mainPink);
    border-left: 2px solid var(--mainPink);
    border-bottom: 2px solid var(--mainPink);
    background-color: white;
    top: 100%;
    left: 0px;
    display: none;
    z-index: 3000;
}

.mid-header-user-container .profile-container-menu .profile-container-menu-option a {
    color: var(--mainPink);
}

.mid-header-user-container .profile-container-menu .profile-container-menu-option:hover {
    background-color: var(--mainPink);
}

.mid-header-user-container .profile-container-menu .profile-container-menu-option:hover a {
    color: white;
    text-decoration: none;
}

.mid-header-user-container .profile-container-menu button {
    border: 2px solid var(--mainPink);
    border-radius: 5px;
    outline: none;
    background-color: var(--mainPink);
    color: white;
    font-weight: 600;
}

.mid-header-user-container .profile-container-menu button:hover {
    background-color: white;
    color: var(--mainPink);
}

/* End of mid header styles */

/* Start of bottom header container styles */

.fa-percent {
    border: 1px solid var(--mainPink);
    border-radius: 50%;
    background-color: white;
    color: var(--mainPink);
}

.bottom-header-container i {
    padding: 4px;
}

.bottom-header-container {
    background-color: var(--mainPink);
    font-size: 0.7rem;
}

.bottom-header-container .bottom-header-link-container .bottom-header-link {
    color: var(--mainPink);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
    background-size: 600%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(253, 253, 253) 50%) !important;
}

.bottom-header-container .bottom-header-link-container .bottom-header-link:hover {
    color: var(--mainPink);
    font-weight: 700;
    background-position: 100%;
    transform: translateX(0.3rem);
}

.bottom-header-container .bottom-header-link-container .bottom-header-link:hover a {
    color: var(--mainPink);
    text-decoration: none;
    font-weight: 700;
}

.bottom-header-container .bottom-header-link-container .bottom-header-link a {
    color: white;
    font-weight: 700;
}

/* End of bottom header container styles */

/* Start pf sidebar styles */

#sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0;
    height: 100vh;
    background-color: var(--mainPink);
    overflow-y: auto;
    transition: all 0.6s;
    z-index: 2000;
}

.sidebar-container {
    font-size: 0.75rem;
    display: none;
}

.sidebar-container .logo img {
    border-radius: 50%;
}

.sidebar-container .sidebar-link {
    border-color: rgb(129, 113, 113) !important;
    transition: all 0.5s;
    background-size: 300%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(253, 253, 253) 50%) !important;
    overflow-x: hidden;
}

.sidebar-container .sidebar-link a {
    color: white;
    font-weight: 600;
}

.sidebar-container .sidebar-link:hover {
    background-position: 100%;
}

.sidebar-container .sidebar-link:hover a {
    color: var(--mainPink);
    font-weight: 700;
    text-decoration: none;
}

.sidebar-container .sidebar-collapse-button {
    font-size: 1.5rem;
    position: absolute;
    top: 3%;
    left: 0;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

.sidebar-container .sidebar-collapse-button:hover {
    color: rgb(63, 174, 248);
}

/* End of sidebar styles */

/* Start of footer section styles */

#footer {
    background-color: var(--mainPink);
    font-size: 0.85rem;
}

.footer-logo-container img {
    width: 150px;
    height: 100px;
    border-radius: 15px;
}

.footer-form-button {
    border: 2px solid white;
    outline: none;
    background-color: var(--mainPink);
    border-radius: 5px;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
}

.footer-form-button:hover {
    background-color: rgb(247, 218, 218);
    color: var(--mainPink);
    font-weight: 700;
}

.healthy-app-container .healthy-app-image img {
    width: 120px;
    height: 95px;
    border-radius: 10px;
}

.store-link {
    font-size: 0.6rem;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
}

.store-link:hover {
    background-color: white;
    color: var(--mainPink);
}

.store-link:hover a {
    text-decoration: none;
    color: var(--mainPink);
    font-weight: 600;
}

.store-link a {
    color: white;
}

.help-center-container .help-center-icon i {
    font-size: 4.2rem;
    color: var(--mainPink);
    background-color: white;
}

.footer-section-header {
    color: wheat;
    font-weight: 700;
}

.footer-section-links a {
    color: white;
}

.footer-section-links a:hover {
    color: wheat;
    text-decoration: none;
}

.help-center-text-header a {
    font-weight: 700;
}

.help-center-text p {
    color: var(--mainPink);
}

.help-center-container {
    background-color: white;
    border-radius: 5px;
}

.footer-external-link {
    font-size: 1rem;
    color: white;
}

.footer-external-link:hover {
    color: wheat;
}

.footer-bottom-link {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
}

.footer-bottom-link:hover {
    color: wheat;
    text-decoration: none;
    font-weight: 600;
}

/* End of footer section styles */