.owl-stage-outer {
    direction: ltr;
}

.owl-dots {
    text-align: center;
    margin-top: 15px;
}

.owl-dot {
    width: 10px;
    height: 10px;
    border: 2px solid purple;
    border-radius: 50%;
    outline: none !important;
    transition: all 0.4s ease;
    background-color: rgb(189, 85, 189) !important;
    margin: 0 3px;
}

.owl-dot:hover {
    background-color: var(--mainPink) !important;
}

.owl-dot:active {
    background-color: var(--mainPink) !important;
}